@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-brand-primary: #0F766E; /* Teal-700 */
  --color-brand-secondary: #115E59; /* Teal-800 */
  --color-brand-dark: #042F2E; /* Teal-950 */
  --color-brand-accent: #F59E0B; /* Amber-500 */
}

@layer base {
  body {
    @apply font-sans text-slate-900 bg-slate-50;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

